:root{
    --color-purple-100:rgb(207, 119, 119);
    --color-purple-200: #bbbbbb;
    --color-purple-300: #969696;

}
body{
    background-color: var( --color-purple-300);
    display: flex;
    justify-content: center; 
}
main{
    background-color: var(--color-purple-200);
    padding: 50px;
    border-radius: 16px;
    margin: 160px;
    
}
button{
    text-align: center;
    display: flex;
    justify-content: center;
}

